body {
    background: url(./candy-crush-master/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: black;
    text-align: center;
    font-family: "gyparody", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "gyparody", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}

#stats {
    font-family: "gyparody", sans-serif;
    margin-top: 80px;
    margin-bottom: 5%;
}

#stats h1 {
    font-size: 50px;
    margin-bottom: -10px;
}

#start {
    margin: auto;
    margin-top: 10%;
    width: 90%;
    height: 90%;
}

#start h1 {
    font-family: "gyparody", sans-serif;
    font-size: 200px;
}

#start button {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 700;
    margin: 20px;
    margin-top: 70px;
    padding: 10px 60px 10px;
    border-radius: 3px;
}

#about {
    margin: auto;
    width: 25%;
    margin-top: 100px;
    text-align: left;
    line-height: 24px;
}

#about h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: solid;
}

#about h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#about h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#about p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;;
}

#about a {
    display: block;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 10px 20px 10px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}